  <div class="row desc-comp">
    <h4>Indian Bank IFSC Code</h4>
    <p>
    IFSC code is an 11 digit alphanumeric code which consists of three parts – first 4 characters
    represent the name of the bank, the fifth character is always zero, reserved for future use.
     The last 6 characters represent the branch.
    </p>
    <p>The IFSC code used for Real Time Gross Settlement aka RTGS and NEFT. Indian Bank support NEFT (National Electronics Fund Transfer) and
       all most all branches has IFSC code.</p>

  </div>
