<grid-container bgimage='/assets/img/tbg.png'>
  <div class="container-fluid text-center">

    <div class="row">
        <h2 class="search-head">Search by bank IFSC/Branch ...</h2>
     <div class="search-formdir col-xs-12 col-md-6 col-md-offset-3" [query]="query"
    (onSearchSubmit)="onSearchSubmit($event)">
    </div>
  </div>
</div>
</grid-container>

<div class="container bank-component">
    <div class="explore-list col-md-9 col-sm-12" *ngIf="page!='details'; else detailsblock">
     <div class="row">
       <form>
         <div class="form-group">
           <label for="searchLabel" *ngIf="page!='banks' && page!='details'; else banksearchblock">
             <h3>Search by <mark>{{page}}</mark> in <a href="">{{currentBank}}</a></h3>
           </label>
           <ng-template #banksearchblock>
               <label for="searchLabel">
                <h3>Search for Banks</h3>
               </label>
           </ng-template>
           <input type="text" class="form-control" name="term" placeholder="Start type to filter results..." [(ngModel)]="term">
         </div>
       </form>
     </div>
     <div class="row">
       <p><mark>{{banks.length}}</mark> results</p>
       <div (click)="redirect(bnk,page)" *ngFor="let bnk of banks | filterBy: term" class="explore-item tag-item">
         {{bnk}}
       </div>
     </div>
       <app-desc-details></app-desc-details>
    </div>

    <ng-template #detailsblock>
    <div class="row bank-details">
    <div class="col-md-9 col-sm-12">
      <div class="item-list row" *ngFor="let item of details">
       <div class="col-sm-2  col-xs-12">
        <div class="add-image sround btn btn-info"><a href="#" >{{item.BANK | avathar}}</a></div>
       </div>

       <div class="col-sm-10  col-xs-12">
         <dl class="dl-horizontal">
            <dt>Bank name:</dt>
            <dd>{{item.BANK}}</dd>
            <dt>Branch name:</dt>
            <dd>{{item.BRANCH}}</dd>
            <dt>IFSC code:</dt>
            <dd>{{item.IFSC}}</dd>
            <dt>MICR code:</dt>
            <dd>{{item.MICR}}</dd>
            <dt>State:</dt>
            <dd>{{item.STATE}}</dd>
            <dt>district:</dt>
            <dd>{{item.DISTRICT}}</dd>
            <dt>Address:</dt>
            <dd>{{item.ADDRESS}}</dd>
            <dt>PH:</dt>
            <dd>{{item.CONTACT}}</dd>
        </dl>

        <p>
          <a href="#">{{item.BANK}}</a> having branch
          <a href="job-details.html"> {{item.BRANCH}} </a> with IFSC Code <a href="">{{item.IFSC}}</a>
          <span class="info-row"> <span class="item-location"><i class="fa fa-map-marker"></i> {{item.STATE}} </span> <span class="date"><i class=" icon-clock"> </i>/{{item.DISTRICT}}</span></span>
            <small>
            {{item.ADDRESS}} {{item.CITY}}
           </small>
          <strong>PH: </strong>{{item.CONTACT}}
        </p>

       </div>
      </div>
    </div>
  </div>
    </ng-template>

    <div class="explore-list col-md-3 col-sm-12 hidden-xs">
      <div (click)="redirect(bnk,page)" *ngFor="let bnk of banks" class="explore-item tag-item">
        {{bnk}}
      </div>
    </div>
</div>
