<div class="search-form1 form-horizontal">
    <form #form="ngForm"
        (ngSubmit)="onSubmitHandler(form)"
        [ngClass]="{'ng-pristine': form.pristine, 'ng-dirty': !form.pristine, 'ng-touched': form.touched, 'ng-untouched': !form.touched,'ng-valid': form.valid, 'ng-invalid': !form.valid, 'ng-submitted': submitted}"
        novalidate="novalidate">
        <div class="form-group-lg">
          <div class="col-sm-10 col-xs-12">
            <input [(ngModel)]="query"
                name="query"
                id="login-input"
                class="form-control"
                type="text"
                ngControl="login"
                #loginInput="ngModel"
                placeholder="search for bank details..."
                 />
          </div>
          <div class="col-sm-2">
          <button class="btn-lg form-control btn-primary" type="submit" name="search-button">Search</button>
        </div>
        </div>


    </form>

</div>
